* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-color: #1e1e1e;
    border-top: 10px solid #1098ad;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.main-header-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 80px;
}

.header-contents {
    display: flex;
    align-self: center;
    justify-self: center;
}

.nav-bar {
    gap: 50px;
    border-radius: 100px;
}
.home-btn {
    border-radius: 50px;
    background-color: #1098ad;
    padding-left: 15px;
    padding-right: 15px;
}

a:link {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #000000;
    box-shadow: 0 0 20px 3px #15bbca;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    background-color: #1098ad;
    border: none;
    border-radius: 100px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #0c6c75;
    box-shadow: 0 0 100px 5px #15bbca
}