/* 
Colors: 
    color: #f44336;
    color: #ffffff
 */

:root {
  color: #5eb0c5;
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav__link {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #444;
  text-decoration: none;
  transition: all 0.2s;
}
